# The Capstone project on Segmenting and Clustering

In [19]:
# Import libraries

import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

#### Read CSV file and make dataframe that will consist of three columns: PostalCode, Borough, and Neighborhood

In [3]:
df_neighborhood = pd.read_csv('Neighborhood.csv')

#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [20]:
df_neighborhood = df_neighborhood[df_neighborhood['Borough'] != 'Not assigned'].reset_index(drop=True)
df_neighborhood.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

#### Now If more than one neighborhood can exist in one postal code area then these two rows will be combined into one row with the neighborhoods separated with a comma

In [21]:
result = df_neighborhood.groupby(['Postcode','Borough'], sort=True).agg( ','.join)
result.head()

                                             Neighbourhood
Postcode Borough
M1B      Scarborough                         Rouge,Malvern
M1C      Scarborough  Highland Creek,Rouge Hill,Port Union
M1E      Scarborough       Guildwood,Morningside,West Hill
M1G      Scarborough                                Woburn
M1H      Scarborough                             Cedarbrae

#### Number of rows of dataframe

In [22]:
result.shape

(103, 1)

#### Read CSV of Geospatial_Coordinates from path : http://cocl.us/Geospatial_data
##### Please note- we need to change column 'Postal code' to 'Postcode' so that we can use merge

In [37]:
df_Geo = pd.read_csv('Geospatial_Coordinates.csv') 
df_Geo.head(5)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

#### Merge two data frames as below;

In [38]:

df_final = pd.merge(result, df_Geo, on='Postcode', how='inner')

df_final.head(5)

  Postcode                         Neighbourhood   Latitude  Longitude
0      M1B                         Rouge,Malvern  43.806686 -79.194353
1      M1C  Highland Creek,Rouge Hill,Port Union  43.784535 -79.160497
2      M1E       Guildwood,Morningside,West Hill  43.763573 -79.188711
3      M1G                                Woburn  43.770992 -79.216917
4      M1H                             Cedarbrae  43.773136 -79.239476

In [39]:
df_final.shape

(103, 4)